.App {
  text-align: center;
}

.App-header {
  display: flex;

  font-size: 20px;
  color: white;
}

body,
html,
div,
img,
h1,
p,
ul,
li,
a,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 50px;
  /* background-color: #4f1500; */
  z-index: 1000;
  margin: 0;
  box-sizing: border-box;
}

.bg-primary {
  background-color: #4f1500;
}

@media (max-width: 500px) {
  .bg-primary {
    background-color: #4f1500;
  }
  .App-header nav {
    display: flex;
    /* flex-direction: column; */
    /* padding: 24px 50px; */
    width: auto;
  }

  .Logo {
    display: flex;
    align-items: center;
    margin-right: 107px;
    height: 52px;
    margin-left: -34px;
  }
  .Logo .logo-1 {
    max-height: 100px;
    top: 11px;
    margin-left: 15px;
  }
}

.capitalize {
  text-transform: capitalize;
}

.logo-1 {
  max-height: 100px;
  top: -11px;
  width: auto;
  position: absolute;
  display: flex;

  align-items: center;
}

.App-header p {
  color: #f09226;
  font-size: 1.5em;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  color: #f09226;
}

.App-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1em;
}

.App-link:hover {
  color: #f09226;
}

.App {
  padding-top: 100px;
}

/* .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 50px 50px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.hero-text {
  max-width: 50%;
  text-align: left;
}

.hero-image {
  max-width: 10%;
  border-radius: 10px;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  background-color: #fff;
}



.feature-item .icon {
  font-size: 2em;
  margin-bottom: 10px;
}

.feature-item h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 1em;
  color: #777;
} */
.App-link:hover,
.App-link.active-link {
  color: #f09226;
}
.hidden {
  display: none;
}

.flex-column {
  flex-direction: column;
}

nav.mobile-nav {
  position: absolute;
  top: 111px;
  background: inherit;
  width: 100%;
  left: 0;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

nav.mobile-nav a {
  padding: 10px 0rem;
  font-size: 24px;
}
